@inherits LayoutComponentBase
@using EAD_Ca3.Components


<div class="page">
    

    <main>
        <div class="">
        <NewNav/>
          <div class="top-row px-4">
            <AuthLinks />
        </div>
    </div>
    
        <div class="container bg-white rounded py-4">
        <article class="content px-4">
            @Body
        </article>
        </div>

    </main>
</div>
