@page "/favorites"
@using Newtonsoft.Json
@using System.Net.Http.Json
@using System.Net.Http
@using Data
@using BlazorStrap
@inject HttpClient Http





<PageTitle>Mars API Photos</PageTitle>




<div class="">

	<h1>My favorite photos</h1>

	<p>test test et</p>

</div>>



@code{

	
}