@page "/"
@using Newtonsoft.Json
@using System.Net.Http.Json
@using System.Net.Http
@using Data
@using System;
@using System.ComponentModel.DataAnnotations;


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="https://en.wikipedia.org/wiki/Mars_rover">Rover Wiki</a></p>
      <p><a href="https://mars.nasa.gov/mer/">Nasa</a></p>
      <p><a href="https://api.nasa.gov/">API Link</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
        <div class="row"></div>
            <div class="col">
                <img src="../wwwroot/Images/pers.jfif" width="300" />
                </div>
                <div class="col">
                    <img src="../wwwroot/Images/pers.jfif" width="300" />
                </div>
                 <div class="row"></div>
            <div class="col">
                <img src="../wwwroot/Images/pers.jfif" width="300" />
                </div>
                <div class="col">
                    <img src="../wwwroot/Images/pers.jfif" width="300" />
                </div>
               
        <hr>
      <h1>Welcome</h1>
      <p>My name is Darren McLean and this is my Enterprise Application Development Web Page. This Page was built using Microsofts Blazer WebAssembly. This application 
          will gather data from an Api developed by Nasa. It will contain data from their Rover missions on Mars. Click the wiki link for more</p>
      
     
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
       
      </div>
      <div class="well">
        
      </div>

    </div>

  </div>
</div>




